# OpenAI
OPENAI_API_KEY=

# Salesforce
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=
SALESFORCE_SECURITY_TOKEN=
SALESFORCE_DOMAIN=login

# Authentication
API_SECRET_TOKEN=

# App settings
LOG_LEVEL=INFO
ENVIRONMENT=local
GCP_PROJECT_ID=
OPENAI_API_KEY_SECRET_NAME=OPENAI_API_KEY
SALESFORCE_USERNAME_SECRET_NAME=SALESFORCE_USERNAME
SALESFORCE_PASSWORD_SECRET_NAME=SALESFORCE_PASSWORD
SALESFORCE_SECURITY_TOKEN_SECRET_NAME=SALESFORCE_SECURITY_TOKEN
API_SECRET_TOKEN_SECRET_NAME=API_SECRET_TOKEN
